<div class="main-content" id="dashsize">
    <div class="row">
        <div class="col-sm-4" style="margin-left: 4%;">
            <div class="card" style="height: 85%;">
                <div class="card-title bg-primary rounded-top text-center">
                    <h4 class="tex-center p-1 mb-1 ">Map</h4>
                </div>
                <div class="card-body p-2 mb-1">
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1Qap7m4pM-gMRA1bv1750GrBhN2cFiRi-"
                        frameborder="0" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card" style="height: 85%;">
                <div class="card-title bg-primary rounded-top">
                    <h4 class="text-center p-1 mb-1">Disaster Types</h4>
                </div>
                <div class="card-body p-2 mb-1">
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/flood.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">F<small>LOODS</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/covid-19.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">C<small>OVID</small>-19
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/landslide.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">L<small>AND</small>
                                S<small>LIDES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/earthquake.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">E<small>ARTHQUAKES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/wildfire.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">F<small>OREST</small>
                                F<small>IRE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/rabies.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">A<small>NIMAL</small>
                                D<small>ISEASES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/tornado.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">C<small>YCLONE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/storm.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">T<small>HUNDERSTRIKE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/snow-avalanche.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">A<small>VALANCHES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/heatwave.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">
                                C<small>LIMATE</small>C<small>HANGE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/pest.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">P<small>LANT</small>P<small>EST</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/wind.png" class="img-fluid" alt="..." height="50px"
                                width="50px"><br>
                        </div>
                        <div class="col-sm-4">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">W<small>INDS</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="container">
                <div class="card" style="height: 85%;">
                    <div class="card-title bg-primary rounded-top">
                        <h4 class="text-center p-1 mb-1">
                            Demography
                        </h4>
                    </div>
                    <div class="card-body p-1 mb-1">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="shadow-sm p-2 mb-2 bg-white rounded">P<small>EOPLE </small>
                                    <img src="../../assets/drm/people.png" width="30px"> 1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow-sm p-2 mb-2 bg-white rounded">H<small>OMES </small>
                                    <img src="../../assets/drm/house.png" width="30px"> 1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow-sm p-2 mb-2 bg-white rounded">B<small>LOCKS </small>
                                    <img src="../../assets/drm/building.png" width="30px"> 1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow-sm p-2 mb-2 bg-white rounded">P<small>ANCHAYAT </small>
                                    <img src="../../assets/drm/embassy.png" width="30px"> 1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow-sm p-2 mb-2 bg-white rounded">V<small>ILLAGE </small>
                                    <img src="../../assets/drm/village.png" width="30px"> 1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow-sm p-2 mb-2 bg-white rounded">F<small>ARM </small>
                                    <img src="../../assets/drm/agriculture.png" width="30px"> 1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow-sm p-2 mb-2 bg-white rounded">S<small>CHOOLS </small>
                                    <img src="../../assets/drm/school.png" width="30px"> 1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 95%; margin-left: 2%;">
                <div class="card-title bg-primary text-center p-2 mb-2 rounded-top">S<small>TAKEHOLDERS</small></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="shadow-sm p-1 mb-2 bg-white rounded">E<small>ARTHQUAKES</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>